.mensajeUsuarioActual
{
    display: flex;
    justify-content: flex-end;
    right: 20px;
    border-bottom: 1px solid #d3d3d35e;
    padding: 10px 0px;
}

.mensajeUsuarioActual .nombre
{
    text-align: right; 
    color: rgb(72, 226, 226);
}

.mensajeUsuarioActual .mensaje 
{
    text-align: right; 
}

.contenedor
{
    border: 2px solid black;
    margin: 12px 10px 0px 10px;
    background-color: #111111;
    color: #ebe6c8;
    padding: 0;
}

.mensajes 
{
    background-color: #111111;;
    height: 405px; 
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chat 
{
display: flex;
justify-content: flex-start;
padding: 10px 0px;
border-bottom: 1px solid #d3d3d35e;
}

.chatInfo
{
    display: flex;
    justify-content: flex-start;
    gap: 0px;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 5px;
}

.nombre
{
    color: #a5a5a5c5;
    font-size: 16px;
    margin-bottom: 0;
}

.mensaje
{
    font-size: 20px;
    color: #ebe6c8;    
    font-weight: lighter;
    margin-bottom: 2px;
}

.fecha
{
    margin-bottom: 0;
    font-size: 10px;
    color: #5a5a5a;
}

.inputMensaje
{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 98%;
}

.barraMensaje
{
    flex: 5;
    background-color: #272727;
    color: #ebe6c8;
    border: none;
}


.botonNegro {
    flex: 1;
    background-color: black;   
    color: #ebe6c8;            
    border: none;             
    padding: 4px 0px;                    
    font-size: 18px;           
    font-family: Arial, sans-serif; 
    cursor: pointer;        
    border-radius: 0;         
}

.botonNegro:hover {
    background-color: rgb(27, 27, 27);     
}



.mensajes::-webkit-scrollbar {
    width: 10px;
}

.mensajes::-webkit-scrollbar-track {
    background: #222;
}

.mensajes::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
    border: 2px solid #222;
}

.mensajes::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}



@media screen and (min-width: 1921px) {

  .mensajes {
    height: 55vh; 
  }

  .mensaje {
    font-size: 22px;
  }
  
  .nombre {
    font-size: 18px;
  }

  .chat, .mensajeUsuarioActual {
    padding: 15px 0px;
  }

  .contenedor {
    margin: 18px 15px 0px 15px;
  }
  
  .inputMensaje {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .botonNegro {
    padding: 6px 0px;
    font-size: 20px;
  }

@media screen and (min-width: 2560px) {
  .mensajes {
    height: 65vh; 
  }
  
  .mensaje {
    font-size: 24px;
  }
  
  .nombre {
    font-size: 20px;
  }
  
  .fecha {
    font-size: 12px;
  }
}
}