@font-face 
{
    font-family: 'Skrawk Serif';
    src: url('/fonts/Skrawk-Serif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body 
  {
    font-family: 'Skrawk Serif', serif;
  }

.contenedorPrincipal 
{
    font-family: 'Skrawk Serif', serif;
    font-size: 20px;
    border: 10px solid black;
    margin: 48px 60px 0 60px;
    background-color: #ebe6c8;
    padding: 0;
}

.contenedorInterno 
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contenedorDerecha
{
    flex: 1;
    border-left: 10px solid black;
    display: flex;
    justify-content: center;
}

.contenedorIzquierda
{
    flex: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.palabra
{
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    width: 300px;       
    height: 150px;
    margin: 16px auto;
}

.palabra > div 
{
    display: flex;
    justify-content: center;
}

.palabra > div:first-child 
{
    font-family: 'Skrawk Serif', serif;
    font-size: 15px;
    flex: 1; 
    min-height: 50px;
    border-bottom: 2px solid black;
    display: flex;       
    align-items: center; 

}

.palabra > div:last-child 
{
    min-height: 80px;
    flex: 2; 
}

.letras
{
    display: flex;
    gap: 20px;
}

.teclado {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.fila {
    display: flex;
    justify-content: center; 
    margin-bottom: 10px;     
}

.botonNegro {
    background-color: black;   
    color: #ebe6c8;            
    border: none;             
    padding: 4px 8px;       
    margin: 1px;              
    font-size: 18px;           
    font-family: Arial, sans-serif; 
    cursor: pointer;        
    border-radius: 0;         
}

.letraErrada {
    background-color: rgb(236, 71, 71);   
    color: ebe6c8;            
    border: none;             
    padding: 4px 8px;       
    margin: 1px;              
    font-size: 18px;           
    font-family: Arial, sans-serif; 
    cursor: pointer;        
    border-radius: 0;      
}

.botonNegro:hover {
    background-color: #333;    
}