<h1>ahorcado!</h1>
<nav *ngIf="this.partidaIniciada == false">
<button (click)="iniciarPartida()">Iniciar partida</button></nav>
<nav *ngIf="this.partidaFinalizada == false; else noJuega">
<img src={{imagen}}>
<nav *ngIf="palabraJuego != ''">
    <div>
        <ng-container>
        @for (letra of letrasIngresadas; track $index) 
        {
            <h1>{{letra}}</h1>
        }
    </ng-container>
    </div>
    <div>
        @for (letra of abecedario; track $index) 
        {
            <button (click)="determinarLetraCorrecta(letra)">{{letra}}</button>
        }
    </div> 
    <h1>Letras erradas:</h1>
    <div>
        @for (letra of letrasErradas; track $index) 
        {
            <h1 class="tachado">{{letra}}</h1>
        }
    </div>
</nav>   
</nav>
<ng-template #noJuega>
    @if(victoria)
    {
        <h1>GANASTE!!</h1>
        <h1>Tardaste {{this.intervalo}} segundos</h1>
    }
    @else 
    {
        <h1>Perdiste!!</h1>
    }
</ng-template>

    
