<div class="marco-negro">
<div class="contenido-blanco">
    <nav *ngIf="auth.usuarioActual == null; else logueado">
        <button routerLink="login">Login</button>
        <button routerLink="registro">Registro</button>
    </nav>
    <ng-template #logueado>
        <nav>
            <button routerLink="quienSoy">Quien Soy</button>
            <button>{{ auth.usuarioActual?.email }}</button>
            <button routerLink="home">Home</button>
        </nav>
        <button class="cerrarSesion" (click)="cerrarSesion()">
            Cerrar Sesion
        </button>
    </ng-template>
  <router-outlet></router-outlet>
</div>
</div>