<router-outlet></router-outlet>
<div class="juegos-container">
    <div class="juegos-sidebar">
        <span>J</span>
        <span>U</span>
        <span>E</span>
        <span>G</span>
        <span>O</span>
        <span>S</span>
      </div>
    <div class="juegos-grid">
      <div class="juego">
        <a routerLink="/juegos/ahorcado">
        <div class="juego-titulo">Ahorcado</div>
        <img src="juegos/ahorcado.png" alt="Ahorcado">
        </a>
      </div>
      <div class="juego">
        <div class="juego-titulo">Preguntados</div>
        <img src="/juegos/preguntados.png" alt="Preguntados">
      </div>
      <div class="juego">
        <a routerLink="/juegos/mayoromenor">
        <div class="juego-titulo">Mayor o Menor</div>
        <img src="juegos/mayoromenor.png" alt="Mayor o Menor">
        </a>
      </div>
      <div class="juego">
        <div class="juego-titulo">Juego Propio</div>
        <img src="juegopropio.png" alt="Juego Propio">
      </div>
    </div>
  </div>
  


