body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
  }
  
  .juegos-container 
  {
    border-bottom-left-radius: 22px;   
    border-bottom-right-radius: 22px; 
    display: flex;
    border: 4px solid black;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #ebe6c8;
    padding: 0px;
  }
  
  .juegos-sidebar {
    border-bottom-left-radius: 22px; 
    background-color: #e3cf92;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    border-right: 4px solid black;
  }
  
  .juegos-sidebar span {
    margin: 5px 0;
  }
  
  .juegos-grid 
  {
   display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: start;     
    padding: 20px;   
  }
  
  .juego {
    width: 350px;
    height: 184px;
    border: 1px solid black;
    text-align: center;
    background-color: #ebe6c8;
    display: flex;
    flex-direction: column;
    border-radius: 22px;    
  }
  
  .juego-titulo {
    background-color: #e3cf92;
    font-weight: bold;
    padding: 5px;
    border-top-right-radius: 22px;  
    border-top-left-radius: 22px;  
    border-bottom: 1px solid black;
  }
  
  .juego img {
    width: 100%;
    height: 150px;
    object-fit:fill;
    border-bottom-right-radius: 22px;   
    border-bottom-left-radius: 22px; 
  }

  .juego:hover {
    transform: scale(1.05);
  }
  
  .botonNegro 
  {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-top-left-radius: 22px;   
    border-top-right-radius: 22px; 
    background-color: #000000;  
    color: white;
    padding: 6px 459px; 
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 18px;
    letter-spacing: 2px;
  }

.resultados
{

    border-top-left-radius: 22px;   
    border-top-right-radius: 22px; 
    display: flex;
    justify-content: center; 
    margin-top: 20px;     
    margin-bottom: 0;
}